/*App.blade css start------------------------------*/

.navbar.navbar-default.navbar-fixed-top {
    box-shadow: 0 0 7px gray;
}
.contheight {
    padding-top: 90px;
    min-height: 800px
}
/*App.blade css end------------------------------*/

/*start style css for head search box----------------------*/

.bs-example{
    font-family: sans-serif;
    position: relative;
    margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    /*border-radius: 8px;*/
    font-size: 15px;
    height: 34px;
    line-height: 30px;
    outline: medium none;
    padding: 3px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}


/*End style css for head search box------------------------*/
